<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<handlers>
		<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
	</handlers>
	<aspNetCore processPath=".\OnlineVoting.Api.exe" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="InProcess" >
		<environmentVariables>
			<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
		</environmentVariables>
	</aspNetCore>
</configuration>